<h1>Top Players of the Week</h1>

<div class="container">
  <div class="row">
    <!-- <span class="border border-dark"> -->
      <div class="col">
        <h2>Jessica</h2>
        <p>Bio..</p>
      </div>
    <!-- </span> -->
    <!-- <span class="border border-dark"> -->
      <div class="col">
        <h2>Esme</h2>
        <p>Bio..</p>
      </div>
    <!-- </span> -->
    <!-- <span class="border border-dark"> -->
      <div class="col">
        <h2>Camy</h2>
        <p>Bio..</p>
      </div>
    <!-- </span> -->
  </div>
</div>
