<h2>Sign Up!</h2>
<div class="container">
  <form action="gamerforum">
   <p class="text1"> E-Mail:</p>
    <input type="text" name="email" placeholder="E-Mail">
    <p class="text"> Username:</p>
    
    <input type="text" name="username" placeholder="Username">
    <p class="text"> Password:</p>
    
    <input type="text" name="password" placeholder="Password">
    <p class="text2"> Re-Enter Password:</p>
    
    <input type="text" name="password" placeholder="Re-Enter Password">
    <br>
    <button  type="Cancel" value="Cancel">Cancel</button>
    <button class="button" type="Sign Up" value="Sign Up">Sign Up</button>

  </form>
</div>