<div class="container">
        <form action="action_page.php" #contactForm="ngForm" (ngSubmit)="submit()">
      
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstName" placeholder="Your name.." required [(ngModel)]="user.fname" [(ngModel)]="contact.firstname">
      
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastName" placeholder="Your last name.." required [(ngModel)]="user.lname"  [(ngModel)]="contact.lastname">
      
          <label for="email">E-mail</label>
          <input type="text" placeholder="name@domain.com.." name="email" required [(ngModel)]="user.email" [(ngModel)]="contact.email">

          <label for="comments">Comments</label>
          <textarea id="subject" name="subject" placeholder="Write something.." name="subject"style="height:200px" required [(ngModel)]="user.subject"  [(ngModel)]="contact.subject"></textarea>
      
          <button type="button" class="cancelbtn" (click)="clear()">Cancel</button>
          <input type="submit" value="submit">
      
        </form>
      </div>
      