h1 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4 {
    font-size: 170%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-size: 150%;
}
#background {
    position: absolute;
    left: 0px;
    top: 62px;
    width: 100%;
    z-index: -1;
    filter: brightness(80%);
    filter:blur(1px);
    -o-filter:blur(3px);
    -ms-filter:blur(3px);
    -moz-filter:blur(3px);
    -webkit-filter:blur(3px);
}

#gamer {
    height: 50%;
    width: 40%;
    margin-top: 10px;
    margin-left: 50px;
}

#text {
    margin-left:15px;
    /* margin-top: 20px; */
	margin-bottom:10px;
    color:#000;
}

#title {

}

.home-container{
    padding: 25px 75px;
}

#content{
    display: block;
}
