<div class="home-container">

    <img id="background" src="https://pre00.deviantart.net/2d94/th/pre/f/2016/158/e/d/tracer_x_d_va___overwatch__wallpaper__by_shylock7-da5avol.jpg"
        alt="tracer and dva">
    <h1 id="title">
        GamerForum
    </h1>
    <p id="text">
        GamerForum is made for female gamers who are searching for others
        <br> female gamers who play Overwach. This webapp is focus around female
        <br> gamers because women/girls need to be represented and show that they
        <br> exist and love video games.
    </p>

    <p id="text"> Click
        <a href="signup">here</a> to sign up and join today!</p>
    <img id="gamer" src="https://cdn.vox-cdn.com/thumbor/SMa0k8rr8fZLVIzZuEJNjzHsgUY=/0x0:1600x900/1220x813/filters:focal(672x322:928x578):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/58689065/Shanghai_Dragons_Gamer_Geguri.0.jpg"
        alt="Kim “Geguri” Se-Yeon">
     
        <figcaption>
            <em>
               Kim “Geguri” Se-Yeon. 
            </em>
            <cite>
                 |Image: Shanghai Dragons
            </cite>
        </figcaption>

</div>