h1 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4 {
    font-size: 170%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-size: 150%;
}
img {
    position: absolute;
    left: 0px;
    top: 62px;
    width: 100%;
    z-index: -1;
    filter: brightness(85%);
}